%nav
  %ul#menu
    %li= link_to data.zann.title, data.zann.url
    %li= link_to data.ulthar.title, data.ulthar.url
    %li= link_to data.outsider.title, data.outsider.url
    %li <a href="#" class="js-invert">Invert</a>
