<nav>
  <ul id="menu">
    <li><a href="zann.html">The Music of Erich Zann</a></li>
    <li><a href="ulthar.html">The Cats of Ulthar</a></li>
    <li><a href="outsider.html">The Outsider</a></li>
    <li><a href="#" class="js-invert">Invert</a></li>
  </ul>
</nav>
